@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Noto Sans TC", sans-serif;
}

:root{
    --bg-color:#000000;
    --second-bg-color:#000000;
    --text-color:#ffffff;
    --main-color:#b2f71c;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 50vh;
    /* padding: 10rem 9% 2rem; */
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
    font-weight: 500;
}
.navbar a:hover,.navbar a.active{
    color: var(--main-color);
    font-weight: 900;
}


#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.heading{
    text-align: left;
    font-size: 3.75rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0% 2rem;
    margin-bottom: 5rem;


}

.home-img{
    position: relative;
    overflow: hidden;
    display: flex;
    /* animation: floatImage 4s ease-in-out infinite; */
}
.home-img img{
    width: 100%;
    /* object-fit: fill; */
    transition: .5s ease;
}
/* .home-img:hover img {
    filter: brightness(0) invert(1);
    transform: scale(1.1);
}
.home-img .home-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.home-img:hover .home-content{
    transform: translateY(0%);
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }    
    100%{
        transform: translateY(0);
    }
} */
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home span{
    font-size: 80rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color:var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
/* about */
.about{
    padding: 2rem 9% 2rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    margin-bottom: 5rem;

}
.about-img img{
    width: 35vw;
}
.about-content h2{
    margin-bottom: 4rem;
}

.about-content h3{
    font-size: 2rem;
    font-weight: 400;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/* services */
.services{
    padding: 2rem 9% 2rem;
    display: flex;
    justify-content: center;
}
.services h2{
    margin-bottom: 5rem;
}
.services-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.responsive-iframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9的寬高比的百分比 */
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* .services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition:.5s ease ;
}
.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);

}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size:1.6rem ;
    margin: 1rem 0 3rem;
} */

/* portfolio */
.portfolio{
    padding: 2rem 9% 2rem;
    background-color: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio{
    background-color: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 5rem;
}
.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow:0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 3.5px solid #b2f71c76; */
    aspect-ratio: 1/1.4;
    background-color: #444444;
}
.portfolio-box img{
    width: 70%;
    transition: .5s ease;
    transform: translateY(-40%);
}
.portfolio-box:hover{
    border: 3.5px solid #b2f71c9b;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box:hover .groupname h3,.groupname h6 {
    color: var(--main-color);
}
.portfolio-box:hover .groupname h6 {
    color: var(--main-color);
}
.portfolio-box:hover .gotogroup h3 {
    color: var(--main-color);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 45%;
    /* background: linear-gradient(rgba(0,0,0,.1),var(--main-color)); */
    background: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 0 4rem; */
    transform: translateY(0%);
    transition: .5s ease;
}
.portfolio-box .portfolio-layer2{
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #b2f71c52 0%, rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70% , #b2f71c52 100%);
    /* background: #444444; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 0 4rem; */
    /* transform: translateY(100%); */
    opacity: 0;
    transition: .5s ease;
}
.grouptextcontainer{
    width: 100%;
    height: 60%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.groupname{
    width: 90%;
    height: 100%;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.groupname h3{
    font-size: 2rem;
    padding-bottom: 10px;
    color: var(--text-color);
}
.groupname h6{
    padding-bottom: 7px;
    font-size: 1.4rem;
    color: var(--text-color);

}
/* .grouptext{
    width: 100%;
    height: 40%;
    background-color: rgb(47, 4, 47);
} */
.gotogroup{
    width: 90%;
    height: 30%;
    /* background-color: rgb(82, 0, 82); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    font-size: 20px;
}
.gotogroup h3{
    font-size: 1.6rem;
    color: var(--text-color);

}
/* .portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(50%);
    transition: .5s ease;
} */
.portfolio-box:hover .portfolio-layer2{
    opacity: 1;
    /* transform: translateY(0%); */
}
.portfolio-layer h4{
    font-size: 3rem;
    width: 100%;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer2 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: var(--text-color); */
    /* border-radius: 50%; */
    /* color: #ffffff; */
    z-index: 999;
}
/* .portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
} */
.contact h2{
    margin-bottom: 3rem;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.contact-box {
    background-color: #b2f71c37; /* 您需要的背景顏色 */
    border-radius: 20px; /* 圓角邊框 */
    padding: 20px;
    text-align: left;
    width: 22%; /* 這將允許每排大約四個項目，取決於容器的寬度 */
    margin: 10px;
}

.contact-box:hover h3, .contact-box:hover p {
    color: var(--main-color);
}
.contact-box:hover .contact-image {
    transform: scale(1.1); /* 在hover时放大图片 */
}
.contact-box h3{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.contact-box p{
    font-size: 16px;
    font-weight: 400;
}

.contact-image {
    width: 65%; /* 圖片容器寬度 */
    aspect-ratio: auto 1 / 1;  /* 圖片容器高度 */
    border-radius: 50%; /* 使圖片圓形 */
    overflow: hidden;
    margin: 15px 30% 0px;
    border: 5px solid white;
    transition: transform 0.3s ease;
}

.contact-image img {
    width: 100%;
    height: auto;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
@media(max-width:1600px){
    .home span{
        font-size: 75rem;
    }

}
@media(max-width:1500px){
    .home span{
        font-size: 70rem;
    }
    .groupname h3{
        font-size: 1.8rem;
        padding-bottom: 10px;
    }
    .groupname h6{
        padding-bottom: 7px;
        font-size: 1.2rem;
    }
    .gotogroup h3{
        font-size: 1.4rem;
    }

}
@media(max-width:1400px){
    .home span{
        font-size: 65rem;
    }
    .groupname h3{
        font-size: 1.6rem;
        padding-bottom: 8px;
    }
    .groupname h6{
        padding-bottom: 5px;
        font-size: 1rem;
    }
    .gotogroup h3{
        font-size: 1.2rem;
    }
}
@media(max-width:1300px){
    .home span{
        font-size: 60rem;
    }
    .portfolio-container{
        gap: 3rem;
    }
}
@media (max-width:1250px){
    html{
        font-size: 55%;
    }
    .home span{
        font-size: 65rem;
    }
    .contact-box {
        width: 40%; /* 堆疊顯示 */
    }
    /* .groupname h3{
        font-size: 1.5rem;
        padding-bottom: 5px;
    }
    .groupname h6{
        padding-bottom: 5px;
        font-size: 1rem;
    }
    .gotogroup h3{
        font-size: 1.2rem;
    } */
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home span{
        font-size: 65rem;
    }
    .contact-box {
        width: 40%; /* 堆疊顯示 */
    }

}
@media(max-width:1150px){
    .home span{
        font-size: 60rem;
    }
    .groupname h3{
        font-size: 1.4rem;
        padding-bottom: 6px;
    }
    .groupname h6{
        padding-bottom: 3px;
        font-size: 0.8rem;
    }
    .gotogroup h3{
        font-size: 1rem;
    }
}
@media(max-width:1100px){
    .home span{
        font-size: 55rem;
    }

}
@media(max-width:1000px){
    .home span{
        font-size: 50rem;
    }

    .portfolio h4{
        font-size: 2rem;
        width: 150px;
    }


    .portfolio-layer a{
        width: 4rem;
        height: 4rem;
    }
}
@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    /* section{
        padding: 10rem 3% 2rem;
    } */
    .home span{
        font-size: 45rem;
    }
    .services{
        padding-bottom: 2rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .portfolio-container{
        gap: 3rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width:900px){

    .portfolio-container{
        gap: 2rem;
    }

}
@media (max-width:870px){

    .portfolio-container{
        gap: 1.5rem;
    }

}
@media(max-width:855px){
    .home span{
        display: none;
    }
    .portfolio h4{
        font-size: 1.6rem;
    }
    .portfolio-layer a{
        width: 3rem;
        height: 3rem;
    }
    .groupname h3{
        font-size: 1.2rem;
        padding-bottom: 5px;
    }
    .groupname h6{
        padding-bottom: 2px;
        font-size: 0.9rem;
    }
    .gotogroup h3{
        font-size:0.9rem;
    }
}
@media(max-width:780px){
    .home span{
        display: none;
    }
    .portfolio h4{
        font-size: 1.6rem;
    }
    .portfolio-layer a{
        width: 3rem;
        height: 3rem;
    }
}
@media (max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2) ;
        box-shadow: 0.5rem 1rem rgba(0,0,0,.2) ;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 100vw;
        /* margin-top: 4rem; */
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-content h3{
        font-size: 1.6rem;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio h4{
        font-size: 2rem;
    }
    .portfolio-layer a{
        width: 4rem;
        height: 4rem;
    }
    .contact-box {
        width: 40%;
        margin: 10px; /* 如果需要間距 */
    }
    .groupname h3{
        font-size: 2rem;
    }
    .groupname h6{
        font-size: 1.4rem;
    }
    .gotogroup h3{
        font-size:1.6rem;
    }
}
@media(max-width:617px){
    /* .portfolio-container{
        grid-template-columns: 1fr;
    } */
    .contact-box {
        width: 100%; /* 堆疊顯示 */
    }
    .groupname h3{
        font-size: 1.8rem;
    }
    .groupname h6{
        font-size: 1.2rem;
    }
    .gotogroup h3{
        font-size:1.4rem;
    }
    /* .portfolio h4{
        width: 50px;
        font-size: 1rem;
    }
    .portfolio-layer a{
        width: 2rem;
        height: 2rem;
    }
    .portfolio-layer a i{
        font-size: 1rem;
        color: var(--second-bg-color);
    } */
}
@media(max-width:540px){
    .groupname h3{
        font-size: 1.6rem;
    }
    .groupname h6{
        font-size: 1rem;
    }
    .gotogroup h3{
        font-size:1.2rem;
    }
}
@media(max-width:480px){
    .groupname h3{
        font-size: 1.4rem;
    }
    .groupname h6{
        font-size: 1rem;
    }
    .gotogroup h3{
        font-size:1rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    /* .contact form .input-box input{
        width: 100%;
    } */
    /* .about-content h3{
        font-size: 1rem;
    } */
    .portfolio h4{
        font-size: 1.6rem;
    }
    .portfolio-layer a{
        width: 3rem;
        height: 3rem;
    }
    .portfolio-layer a i{
        font-size: 1.6rem;
        color: var(--second-bg-color);
    }

}
@media(max-width:400px){
    .groupname h3{
        font-size: 1.2rem;
    }
    .groupname h6{
        font-size: 0.9rem;
    }
    .gotogroup h3{
        font-size:0.9rem;
    }
}
@media(max-width:365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}