@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Noto Sans TC", sans-serif;
}

:root{
    --bg-color:#000000;
    --second-bg-color:#000000;
    --text-color:#ffffff;
    --main-color:#b2f71c;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 50vh;
    /* padding: 10rem 9% 2rem; */
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
    font-weight: 500;
}
.navbar a:hover,.navbar a.active{
    color: var(--main-color);
    font-weight: 900;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.heading{
    text-align:left;
    font-size: 3.75rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 2rem;
    margin-bottom: 5rem;

}

.home-img{
    position: relative;
    overflow: hidden;
    display: flex;
    /* animation: floatImage 4s ease-in-out infinite; */
}
.home-img img{
    width: 100%;
    /* object-fit: fill; */
    transition: .5s ease;
}
/* .home-img:hover img {
    filter: brightness(0) invert(1);
    transform: scale(1.1);
}
.home-img .home-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.home-img:hover .home-content{
    transform: translateY(0%);
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }    
    100%{
        transform: translateY(0);
    }
} */
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home span{
    font-size: 80rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color:var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
/* about */
.about{
    padding: 0rem 9% 2rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    margin-bottom: 5rem;

}
.about-img img{
    width: 35vw;
}

.about-content h2{
    margin-bottom: 4rem;
}
.about-content h3{
    font-size: 2rem;
    font-weight: 400;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/* services */
.services{
    padding: 0rem 9% 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

}
.services h2{
    margin-bottom: 5rem;
}
.services-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9的寬高比的百分比 */
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* .services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition:.5s ease ;
}
.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);

}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size:1.6rem ;
    margin: 1rem 0 3rem;
} */

/* portfolio */
.portfolio{
    padding: 0rem 9% 2rem;
    background-color: var(--second-bg-color);
    margin-bottom: 5rem;

}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container {
    display: flex;
    gap: 2.5rem;
}

.portfolio-left {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    flex: 1;
}

.portfolio-box {
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    position: relative;
    transition: .5s ease;
}

.portfolio-box.small {
    width: 100%;
}

.portfolio-box.large {
    flex: 2;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
    height: 100%;
    /* object-fit: cover; */
}


/* .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow:0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
} */

.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0%);
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
.contact{
    padding: 0rem 9% 2rem;
    background-color: var(--second-bg-color);
    margin-bottom: 2rem;

}
.contact h2{
    margin-bottom: 4rem;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* 允許容器内的項目換行 */
    gap: 20px;
    
}

.contact-box {
    background-color: #b2f71c37; /* 您需要的背景顏色 */
    border-radius: 20px; /* 圓角邊框 */
    padding: 20px;
    text-align: left;
    width: 22%; /* 這將允許每排大約四個項目，取決於容器的寬度 */
    aspect-ratio: 1/1;
    margin: 10px;
}

.contact-box:hover h3, .contact-box:hover p {
    color: var(--main-color);
}
.contact-box:hover .contact-image {
    transform: scale(1.1); /* 在hover时放大图片 */
}
.contact-box h3{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.contact-box p{
    font-size: 16px;
    font-weight: 400;
}

.contact-image {
    width: 65%; /* 圖片容器寬度 */
    aspect-ratio: auto 1 / 1;  /* 圖片容器高度 */
    border-radius: 50%; /* 使圖片圓形 */
    overflow: hidden;
    margin: 15px 30% 0px;
    border: 5px solid white;
    transition: transform 0.3s ease;
}

.contact-image img {
    width: 100%;
    height: auto;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text{
    /* background-color: #b2f71c; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop{
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-iconTop div{
    width: 30px;
    height: 30px;
}
.footer-iconTop div img{
    width: 100%;
    height: 100%;
    display: block;
}
.totop{
    display:inline-flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
.intropic{
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    position: relative;
    top: 15%;
    width: 80%;
    max-width: 1000px;
}

.close {
    position: absolute;
    top: 65px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media(max-width:1600px){
    .home span{
        font-size: 75rem;
    }

}
@media(max-width:1500px){
    .home span{
        font-size: 70rem;
    }
    .contact-box {
        width: 40%; /* 堆疊顯示 */
    }
}
@media(max-width:1400px){
    .home span{
        font-size: 65rem;
    }


}
@media(max-width:1300px){
    .home span{
        font-size: 60rem;
    }

}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home span{
        font-size: 65rem;
    }
    .contact-box {
        width: 40%; /* 堆疊顯示 */
    }
    section{
        min-height: 0;
        /* padding: 10rem 9% 2rem; */
    }
}
@media(max-width:1150px){
    .home span{
        font-size: 60rem;
    }

}
@media(max-width:1100px){
    .home span{
        font-size: 55rem;
    }

}
@media(max-width:1000px){
    .home span{
        font-size: 50rem;
    }

}
@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .home span{
        font-size: 45rem;
    }
    /* .services{
        padding-bottom: 2rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    } */
    /* .contact{
        min-height: auto;
    } */
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:780px){
    .home span{
        display: none;
    }
}
@media (max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2) ;
        box-shadow: 0.5rem 1rem rgba(0,0,0,.2) ;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 100vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-content h3{
        font-size: 1.6rem;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 4rem;
    }
    .portfolio h2{
        margin-bottom: 4rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
    .contact-box {
        width: 40%;
        margin: 10px; /* 如果需要間距 */
    }
}
@media(max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .contact-box {
        width: 100%; /* 堆疊顯示 */
    }
    .footer-text div img{
        width: 30px;
    }
    .footer-iconTop{
        justify-content: space-evenly;
    }
    .footer-iconTop div img{
        width: 25px;
        height: 25px;
    }
    .totop{
        width: 83%;
        height: 83%;
    }
}
/* @media(max-width:510px){

} */
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    /* .contact form .input-box input{
        width: 100%;
    } */

}
@media(max-width:365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}