.parallax {
    height: 100vh; /* 100% of the viewport height */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #page1 {
    background-image: url('img/landing.jpg');
  }
  
  #page2 {
    background-image: url('img/Q1.jpg');
  }
  